{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 version"]
      }
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}